@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: #fff;
  background: var(--background);
}
html{
  scroll-behavior: smooth;
}

.page {
  @apply h-screen w-full relative;
}

.page-banner{
  @apply w-full h-full absolute left-0 top-0 -z-10 object-cover object-center brightness-[55%];
}

.page-half-banner{
  @apply md:w-1/2 h-screen max-w-full md:h-full object-cover object-center;
}

.page-content{
  @apply z-10;
}

img{
  user-select: none;
  -webkit-user-drag: none;
}