@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111021;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

.page {
  @apply py-16 w-full relative;
}

.page-banner {
  @apply w-full h-full absolute left-0 top-0 -z-10 object-cover object-center brightness-[55%];
}

.page-half-banner {
  @apply w-auto h-[500px] max-w-[50%] object-cover object-center max-md:h-[50vh] max-md:max-w-full;
}

.page-content {
  @apply z-10;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.colored-row {
  @apply bg-[#001c45]/40;
}

.colored-row:nth-child(odd) {
  @apply bg-[#001c45]/20;
}
